html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Vazirmatn', sans-serif;
  overflow-x: hidden;

}

#home {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome img {
  padding: 5px;
}
.buttons-container {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 1em 5em 1em 1em;
}
header{
  background-color: #2926261e;
}

.welcome nav ul li a {
  text-decoration: none;
  color: black;
}

.welcome nav {
  display: flex;
  align-items: center;
}

.welcome nav span {
  padding: 2em 1em 1em 5em; /* top right bottom left */
}
.welcome button{
  margin: 20px 30px; 
  padding: 7px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
}
.welcome button span{
  color: white;
  font-style: bold;
}
.welcome i{
  color: white;
  margin: 4px;
}

.call_btn{
  background: #1313FF 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #000000;  
}
.chat_btn{
  background: #00BB2D 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #000000;
}
.search_header {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.search_header img{
  padding: 1em 0em 0em 2em;
}

.search_bar {
  flex: 1;
  margin-left: 13%;

}
.search_bar i{
  padding: 0px;
  color: white;
  font-size: 15px;
}
.search_bar input{
  width: 55%;
  height: 40px;
  padding-left: 10px;
  border-radius: 30px;
  border: 2px solid ;
  border-color: #B20000;
  outline: none;
}
.search_bar input::placeholder {
  color: #B20000;
  font-family: 'Vazirmatn', sans-serif;
}
.search_bar button{
  height: 44px;
  width: 60px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  top: 0;
  bottom: 0;
  background-color: #B20000;
  margin-left: -63px;
  padding: 0;
  border: none;
}
.like_car i{
  font-size: 30px;
  margin: 1em;
  color: #B20000;
}
.products_count {
  margin-left: -35px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #B20000;
  color: white;
  font-size: 24px;
  text-align: center;
}
.content_box_car{
  border: 1;
  border-color: #B20000;
}
.main{
  width: auto;
  background-color: #B20000;
}
.main nav ul {
  padding-left: 20%;
  display: flex;
  align-items: center;
}
.main nav ul li{
  padding: 1em 3em;
}
.main nav ul li a {
  text-decoration: none;
  color: white;
}
.main_contain img{
  display: flex;
  padding-left: 21.5%;
  width: 40%;
  height: 17%;
}
.background_image_class img{
  margin-top: -2em;
  margin-left: -18em;
  /* Establece el ancho y alto del contenedor */
  width: 600px;
  height: 300px;
  /* Ajusta el tamaño de la imagen de fondo */
  background-size: cover;

}
.info_main_catalog {
  font: normal normal normal 20px/27px Nirmala UI;
  width: 100%; /* Cambié esto a 100% */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para distribuir los elementos horizontalmente */
}

.info_main_catalog div {
  padding: 2em;
  
}

.info_left {
  margin: 0;
  padding: 0;
  align-items: start;
  text-align: left;

}


.button_info{
  padding: 0em;
  margin: 1em;
  height: 2.55em;
  background: #000000 0% 0% no-repeat padding-box;
  border-top-right-radius: 67px;
  border-bottom-right-radius: 67px;
  text-align: center;
}

.button_info1{
  margin: 1em;
  width: auto;
  height: 4em;
  background: #B20000 0% 0% no-repeat padding-box;
  border-top-left-radius: 67px;
  border-bottom-left-radius: 67px;
}
.contenedor_button_info {
  font: normal normal bold 25px/33px Nirmala UI;
  color: #FFFEFE;
  display: flex;
  align-items: center;
  top: -10em; /* Ajusta este valor según tu preferencia */
}

.button_info div{
  padding: 0em;
  margin: 0em;
}

.contenedor_button_info_left img{
  padding: 0.5em;
}
.contenedor_button_info_rigth p {
  margin: 0.1em;
  font-size: 1.2em;
}

.contenedor_button_info1{
  font: normal normal bold 25px/33px Nirmala UI;
  color: #FFFEFE;
  display: flex;
  align-items: start;
  top: -50em; /* Ajusta este valor según tu preferencia */

}